@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --background-dark: #1a1a1a;
  --foreground-dark: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend Deca', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #232340;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1a1a1a;
}
